.card {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 17em;
  margin: 1em;
  margin-inline: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.card .card-img {
  max-width: 100%;
  max-height:300px ;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.card-body {
  padding: 0 1em 1em 1em;
}

.card-title{
    /* color: #836953; */
    padding-block: 10px;
}

.card-subtitle{
    padding-block: 10px;
    display: flex;
    color: #836953;
    justify-content: space-between;
}

.description{
    font-size: 13px;
}